/* Write your CSS here */
.app-main-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto';
}
.main-heading {
  color: #1e293b;
  font-size: 30px;
  margin-top: 20px;
}
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b8794;
  border-radius: 5px;
}
.search-input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 25px;
}

.search-logo {
  background-color: transparent;
  width: 20px;
}
.tab-item-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-list-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}
